/**
 * Marc Ernst 2017
 * SkyIT Webdesign
 * Hochschule Darmstadt
 * Licensed : M.I.T. Lizenz
 */
/**
 * Basic Definitions
 */
body,
html {
  background-color: #222222 !important;
  color: #eeeeee;
}
div {
  border: 1px solid #555;
}
