.dialog-slide-outer {
  display: block;
  z-index: 100;
  position: absolute;
  width: 1vw;
  height: 1vh;
  background: rgba(0,0,0,0.33);
}

.dialog-slide {
  position: absolute;
  margin: auto auto;
  display: block;
  z-index: 101;
  height: 500px;
  width: 600px;
  background-color: white;
}

.left-out {
  left: -3000px;
}

.right-out {
  right: -3000px;
}

.current {
  left: auto;
  right: auto;
}
