<div class="dialog-slide-outer">
  <div class="dialog-slide" [ngClass]="{'current' : step == 1, 'left-out': step > 1}">
    <h1>Slide 1</h1>
    <p>Some text <button (click)="step = 2;">Next</button></p>
  </div>
  <div class="dialog-slide" [ngClass]="{'current' : step == 2, 'left-out': step > 2, 'right-out': step < 2}">
    <h1>Slide 2</h1>
    <p>Some text <button (click)="step = 3;">Next</button></p>
  </div>
  <div class="dialog-slide" [ngClass]="{'current' : step == 3, 'left-out': step > 3, 'right-out': step < 3}">
    <h1>Slide 3</h1>
    <p>Some text <button (click)="step = 4;">Next</button></p>
  </div>
  <div class="dialog-slide" [ngClass]="{'current' : step == 4, 'right-out': step < 4}">
    <h1>Slide 4</h1>
    <p>Some text</p>
  </div>
</div>
