<h1>Welcome</h1>
<p>Welcome to SkyIT PGPChat.</p>

<h2>How-To</h2>

<ol>
  <li>Register</li>
  <li>Download the PGP Software of your choice</li>
  <li>Generate Keys and export both as ASCII</li>
  <li>Verify on this site, by posting your publickey and decrypting a message from us which only you can decrypt</li>
  <li>You are now verified :)</li>
  <li>You can create Chatrooms now and send the Link to your friend, who has done the same steps.</li>
  <li>Both join the chatroom, add your private key (locally) with your passphrase.</li>
  <li>Start to chat...</li>
  <li>PROFIT!</li>
  <li>...</li>
  <li>After you leave the site, or refresh, your private data is erased from memory.</li>
</ol>

<h2>Features to come</h2>

<ul>
  <li>Better Chat UI</li>
  <li>Better UI overall</li>
  <li>Leave messages in Chat</li>
  <li>Chatroom Password Protection</li>
  <li>Profile with 3d Barcode of your public pgp key (unique identifier)</li>
  <li>Much much more... email me marc(at)skylo(dot)de</li>
</ul>
