<div class="chat-container">
  <div class="col-md-4 chatleft">
    <div>
      <h2>In Room {{room.roomname}}</h2>
      <ul *ngIf="room && room.users && room.users.length > 0">
        <li *ngFor="let user of room.users">{{user.alias}} <span *ngIf="user.verified"
                                                                 style="color: green">(Verified!)</span></li>
      </ul>
    </div>
    <div *ngIf="!setup">
      <h2>PGP Setup</h2>
      Your Private PGP Keyfile (ASC Container):<br/>
      <input type="file" class="form-control" (change)="changeListener($event)"/><br/>
      Enter your Password: <input type="password" class="form-control" [(ngModel)]="passphrase"/>
      <button class="btn btn-default" (click)="updateKeyAndPass()">Read locally (no upload)</button>
      <h3>Setup <span class="label label-warning">Incomplete</span></h3>
    </div>
    <div *ngIf="setup">
      <h3>Setup <span class="label label-success">Completed</span></h3>
      <button class="btn btn-warning" (click)="setup = false;">Reset</button>
    </div>

  </div>
  <div class="col-md-8 chatright">
    <div id="chatWrapper">
      <div id="chatMessageOut">
        <div *ngFor="let msg of messages" class="single-msg"
             [ngClass]="{ 'myself' : msg.sender == usr.current.alias, 'system' : msg.sender == 'SYSTEM'}">
          <div class="upper">{{msg.sender}} <span class="timestamp">[ {{msg.timestamp | timestamp}} ]</span></div>
          <div class="lower">{{msg.msg}}</div>
        </div>
      </div>
      <div id="chatInput">
        <div class="input-group">
          <input type="text" class="form-control" id="message-text" [(ngModel)]="message"
                 (keydown)="handleEvent($event)"/>
          <div class="input-group-btn">
            <button class="btn btn-success" (click)="sendMessage()" [disabled]="!pgp.keysLoaded() || !setup">Send
            </button>
            <button class="btn btn-warning" (click)="leaveChannel()" [disabled]="!pgp.keysLoaded() || !setup">Leave
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


