<div class="navbar-form navbar-right">
  <div class="login form-group">
    <div *ngIf="!auth.loggedIn()">
      User <input type="text" class="form-control" [(ngModel)]="model.username" (keyup)="handleEvent($event)"/>
      Password <input type="password" class="form-control" [(ngModel)]="model.password" (keyup)="handleEvent($event)"/>
      <button class="btn btn-default" (click)="doLogin()">Login</button>
    </div>
    <div *ngIf="auth.loggedIn()">
      <button class="btn btn-default" (click)="doLogout()">Logout</button>
    </div>
  </div>
</div>


