<div *ngIf="!loaded">
  <h1>Key Generator</h1>
  (this will not change your public key saved to your account)<br/><br/>
  Your Name: <input type="text" [disabled]="1" [ngModel]="usr.current.alias"/><br/>
  Your E-Mail: <input type="text" [(ngModel)]="generateObj.email"/><br/>
  Your Password: <input type="password" [(ngModel)]="generateObj.pass"/><br/>
  <button (click)="getKeys()">Generate PGP Keys</button>
</div>
<div *ngIf="loaded">
  <h2>Success export these into TXT Files </h2>
  <b>(File Export coming soon)<br/>
    Save the contents below in separate files and never share the first part (private).</b>
  <br/><br/>
  Private:
  <button class="btn" (click)="createDownload(recObj.priv)">DL Priv</button>
  <div class="pgp-area">{{recObj.priv}}</div>
  <br/>
  Public:
  <button class="btn" (click)="createDownload(recObj.pub)">DL Pub</button>
  <div class="pgp-area">{{recObj.pub}}</div>
  <br/>
</div>
