<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-pgpchat-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SkyIT PGPChat 0.2</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-pgpchat-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a *ngIf="!auth.loggedIn()" routerLink="/register">Register</a></li>
        <li><a *ngIf="auth.loggedIn() && !userServ.current.verified" href="/user/verify">Verify</a></li>
        <li><a *ngIf="auth.loggedIn()" routerLink="/pgp-key-generator">Generate PGP Keys (experimental)</a></li>
        <li><a *ngIf="auth.loggedIn()" routerLink="/profile">{{ userServ.current.alias }}'s Profile <span
          *ngIf="userServ.current.verified" class="label label-success">Verified</span></a></li>
      </ul>
      <!-- Login Form Menu element BEGIN -->
      <app-login></app-login>
      <!-- Login Form Menu element END -->
      <div class="nav navbar-form navbar-right">
        <div class="form-group">
          <button class="btn btn-success" *ngIf="auth.loggedIn() && userServ.current.verified"
                  routerLink="/create-room">Create
            Chatroom
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


