Hello {{ usr.current.alias }} !
<div *ngIf="!usr.current.verified">
<div *ngIf="step == 0" style="display:block">Use this to enter your pubkey<br/> <textarea class="pgp-area form-control" [(ngModel)]="model.publickey"></textarea> <br/>
  <button class="btn btn-default" (click)="updatePubKey()">Send PubKey to Server</button>
</div>

<div *ngIf="step == 1" style="display:block; margin-top: 20px;">Decode this Message and paste the decrypted Message on the next page<br/>
  <textarea class="pgp-area form-control" [(ngModel)]="tosolve"></textarea>
  <button class="btn btn-default" (click)="step = 2">Next</button>
</div>

<div *ngIf="step == 2"  style="display:block; margin-top: 20px;">
  Put your decrypted message in this text box.<br/>
  <input type="text" class="form-control" [(ngModel)]="answer.answer"/>
  <button class="btn btn-default" (click)="verifyMe()">Verify Me!</button>
</div>

</div>
<div *ngIf="usr.current.verified">
  You are verified.
  </div>
