<div class="col-md-6">
  <h1>ChatRoom</h1>
  <button class="btn btn-info" (click)="createRoom()">Create a new private room</button>
  <br/><br/>
  <button *ngIf="roomString != ''" class="btn btn-success" routerLink="/chat/{{ roomString }}">Enter {{roomString}}
    now!
  </button>
</div>
<div class="col-md-6">
  <div class="channellist">
    <h3>Channellist <span class="label label-info">Work In Progress</span></h3>
    <div class="channels">
      <div *ngFor="let c of roomList.rooms" style="margin-bottom: 10px"> <button class="btn btn-default" routerLink="/chat/{{c.name}}">Channel {{c.name}} <span class="badge">{{c.user}} User</span></button><br/></div>
    </div>
  </div>
</div>
