/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto", "Arial", sans-serif;
}

span.logo {
  font-weight: bold;
  font-size: 15px;
  padding: 0 20px 0 0;
  font-family: "Arial Narrow", "Helvetica", sans-serif;
}

.chat-container {
  display: block;
  height: 100%;
}



.pgp-area {
  font-size: 10px;
  font-family: "Courier New", monospace;
  min-height: 480px;
  min-width: 420px;
}



.chat-container {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
}

.chatright {
  display: block;
  height: 100%;
  position: relative;

}

.myself {
  background-color: #58a488 !important;
  position: relative;
  right: 0% !important;
}

.single-msg {
  border-radius: 6px;
  padding: 10px;
  background-color: #394c99;
  color: white;
  margin: 5px;
  width: 80%;
  position: relative;
  right: -15%;
}

.timestamp {
  font-size: 9px;
}

#chatWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#chatMessageOut {
  /* display: block;
   height: 100%;
   width: 100%; */
  position: relative;
  top: 0px;
  height: 87vh;
  flex-grow: 1;
  overflow-y: scroll;
}

#chatInput {
  position: relative;
  display: block;
  bottom: 0px;
  height: 50px;
  width: 100%;
}



.single-msg .upper {
  border-bottom: 1px dashed white;
  width: 100%;
  position: absolute;
  height: 30px;
  left: 0px;
  top: 0px;
  line-height: 30px;
  padding: 0 0 0 10px;
  font-weight: bold;
}

.single-msg .lower {
  padding: 30px 0 0 0;
}

.system {
  border-radius: 0px;
  /* padding: 5px 5px 5px 10px; */
  background-color: white;
  color: #687772;
  font-size: 10px;
  right: 0% !important;
}

.system .upper {
  font-weight: normal;
}
