Username (privat):<input type="text" [(ngModel)]="model.username"/><br/>
Alias (öffentlich):<input type="text" [(ngModel)]="model.alias"/><br/>
Passwort:<input type="text" [(ngModel)]="model.password"/><br/>
<button (click)="doRegister()">Registrieren</button>
